/*UI blue color and no select.*/
.ui-dialog-titlebar
{
	background-color:rgb(50,120,200);
	color:rgb(255,255,255);
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}

/*Make UI resizers bigger.*/
.ui-resizable-n,.ui-resizable-s,.ui-resizable-ne,.ui-resizable-se,.ui-resizable-sw,.ui-resizable-nw
{
	height:12px !important;
}
.ui-resizable-e,.ui-resizable-w,.ui-resizable-se,.ui-resizable-sw,.ui-resizable-nw
{
	width:12px !important;
}

/*Hack to get rid of bottom right drag icon on UI.*/
.ui-icon-gripsmall-diagonal-se
{
	opacity:0;
}